$mist = #b1c1c5;
$white = #fff;
$card-box-shadow = 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
$alabaster = #fafafa;
$medium = 500;

.geosuggest {
    position: relative;

    .geosuggest__input-wrapper input {
        border: solid 1px $mist;
        height: 48px;
        font-size: 16px;
        padding: 16px;
        margin: 0 !important;
    }

    .geosuggest__suggests-wrapper {
        position: absolute;
        top: 48px;
        left: 0;
        width: 480px;
        background: $white;
        border-top: none;
        z-index: 9999;
    }

    .geosuggest__suggests {
        border: solid 1px $mist;
        box-shadow: $card-box-shadow;

        .geosuggest__item {
            padding: 16px;
            line-height: 1.25;

            &:hover {
                background: $alabaster;
                font-weight: $medium;
            }
        }
    }

    .geosuggest__suggests--hidden {
        display: none;
    }
}
